.button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: #313946;
  border: 1px solid #5a606a;
  color: #e9e9ec;
  padding: 8px 14px;
  height: 33px;
  border-radius: 8px;
  font-size: .75rem;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: background .2s ease, border-color .2s ease;

  &:hover {
    background: #3b4350;
    border-color: #777c84;
  }

  &:focus-visible {
    background: #3b4350;
    border-color: #fff;
  }

  &:active {
    background: #474e59;
    border-color: #777c84;
  }
}

.button>svg {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  pointer-events: none;
  fill: #e9e9ec;
}