@use "@/styles/mixins" as m;

.game {
  max-width: 1060px;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  user-select: none;
}

@include m.medium {
  .game {
    gap: 20px;
  }
}

@include m.small {
  .game {
    padding-bottom: 30px;
    width: 100%;
  }
}

@include m.very-small {
  .game {
    align-items: stretch;
  }
}

.game .wrapper {
  display: flex;
  gap: 30px;
  width: 100%;
}

@include m.medium {
  .game .wrapper {
    gap: 20px;
  }
}

@include m.small {
  .game .wrapper {
    flex-direction: column;
  }

  .game .wrapper>*:nth-child(1) {
    order: 2;
  }

  .game .wrapper>*:nth-child(2) {
    order: 1;
  }

  .game .wrapper>*:nth-child(3) {
    order: 3;
  }
}

.game.x3 .wrapper {
  width: 100%;
}

html:is([lang="ru"], [lang="hu"]) .game .wrapper {
  gap: 20px;
}

@include m.large {
  html[lang=hu] .game .wrapper {
    gap: 10px;
  }
}

@include m.medium {
  html[lang=hu] .game .wrapper {
    gap: 20px;
  }
}