@use "@/styles/mixins" as m;

.game {
  max-width: 1060px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  user-select: none;
}

@include m.medium {
  .game {
    gap: 20px;
  }
}

@media (max-width: 620px) {
  .game {
    position: relative;
  }
}

.game .wrapper {
  display: flex;
  gap: 30px;
}

@include m.medium {
  .game .wrapper {
    gap: 20px;
  }
}

@include m.small {
  .game .wrapper {
    flex-direction: column;
    width: 100%;
  }

  .game .wrapper>*:nth-child(1) {
    order: 2;
  }

  .game .wrapper>*:nth-child(2) {
    order: 1;
  }

  .game .wrapper>*:nth-child(3) {
    order: 3;
  }
}

.game.x3 .wrapper {
  width: 100%;
}

.game .chatWrapper {
  position: fixed;
  right: 15px;
  bottom: 0;
  z-index: 10;
}

@include m.medium {
  .game .chatWrapper {
    position: fixed;
    right: 20px;
    bottom: 20px;
    top: auto;
    z-index: 1000;
  }
}