@use "@/styles/mixins" as m;
@use "@/styles/keyframes" as keyframe;
@include keyframe.pulse(1.2, 1);
@include keyframe.bomb-pulse;

.board {
  display: grid;
  gap: 6px;
  padding: 16px;
  background: #232b37;
  border-radius: 16px;
  border: 1px solid #39414b;
  width: fit-content;
}

@include m.medium {
  .board {
    padding: 12px;
    gap: 4px;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 6px;
}

@include m.medium {
  .row {
    gap: 4px;
  }
}

.square {
  --size: 45px;
  background: #3f4650;
  border: 2px solid transparent;
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  border-radius: 10px;
  @include m.flex-center;
  font-size: 1.125rem;
  font-weight: bold;
  user-select: none;
  position: relative;
}

.square>svg {
  width: 20px;
  height: 20px;
}

.square.playerX {
  border-color: #4ecdc4;
  background: #324a54;

  & svg {
    stroke: #4ecdc4;
  }
}

.square.playerO {
  border-color: #ff6b6b;
  background: #4f3c46;
  box-shadow: 0 0 15px rgba(255, 107, 107, .1);

  & svg {
    stroke: #ff6b6b;
  }
}

.square.winning::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: inherit;
  border: inherit;
  animation: pulse 1.3s ease infinite;
}

.square.frozen {
  border-color: #87ceeb !important;
  background: #486373 !important;
  box-shadow:
    0 0 20px rgba(135, 206, 235, .8),
    inset 0 0 10px rgba(135, 206, 235, .5);
}

.square.frozen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .4);
  border-radius: 8px;
}

.square.targeted {
  background: #78403d;
  border-color: #ff6347;
  box-shadow: 0 0 6px rgba(255, 99, 71, .5);
  z-index: 1;
  animation: bomb-pulse .5s infinite alternate;
}

.square.selected {
  border: 3px dashed #ffd93d;
  color: #ffd93d;
  background: #4f4d38;
  animation: bomb-pulse .5s infinite alternate;

  &>svg {
    stroke: #ffd93d;
  }
}