@use "sass:list";

$breakpoints: (
  "large": 1200px,
  "medium": 992px,
  "small": 768px,
  "very-small": 376px,
);

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin media($name) {
  $size: map-get($breakpoints, $name);

  @if ($size) {
    @media (max-width: $size) {
      @content;
    }
  }

  @else {
    @error "Unknown breakpoint: #{$name}, known breakpoints are: (#{map-keys($breakpoints)})";
  }
}

@mixin langs($langs...) {
  $selectors: ();

  @each $lang in $langs {
    $selectors: list.append($selectors, "[lang=#{$lang}]", comma);
  }

  @at-root html:is(#{$selectors}) {
    @content;
  }
}