:root {
  --main-menu-content-height: 273px;
  --font-inter: var(--font-inter-family), "Inter", system-ui, "Segoe UI", "Segoe UI Symbol", "System UI fonts";
  --font-vazirmatn: var(--font-vazirmatn-family), "Vazirmatn", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
  --font-digital7: var(--font-digital7-family), "digital7", monospace, var(--font-inter);
}