:root {
  --main-menu-content-height: 273px;
  --font-inter: "Inter", system-ui, "Segoe UI", "Segoe UI Symbol", "System UI fonts";
  --font-vazirmatn: "Vazirmatn", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
}