/* Inter */
@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter/Inter-Light.woff2") format("woff2"),
    url("/fonts/Inter/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter/Inter-Medium.woff2") format("woff2"),
    url("/fonts/Inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn */
@font-face {
  font-family: "Vazirmatn";
  src:
    url("/fonts/Vazirmatn/Vazirmatn-Light.woff2") format("woff2"),
    url("/fonts/Vazirmatn/Vazirmatn-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src:
    url("/fonts/Vazirmatn/Vazirmatn-Regular.woff2") format("woff2"),
    url("/fonts/Vazirmatn/Vazirmatn-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src:
    url("/fonts/Vazirmatn/Vazirmatn-Medium.woff2") format("woff2"),
    url("/fonts/Vazirmatn/Vazirmatn-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src:
    url("/fonts/Vazirmatn/Vazirmatn-Bold.woff2") format("woff2"),
    url("/fonts/Vazirmatn/Vazirmatn-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* digital7 */
@font-face {
  font-family: 'digital7';
  src:
    url('/fonts/digital-7/digital-7-mono.woff2') format('woff2'),
    url('/fonts/digital-7/digital-7-mono.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}