@use "./colors";
@use "./variables";
@use "./mixins" as m;
@import "./fonts.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html * {
  font-family: var(--font-inter);
}

html[lang=ar] * {
  font-family: var(--font-vazirmatn);
}

html:is([lang=fr], [lang=ru], [lang=hu]) {
  font-size: 14px;
}

body {
  background: var(--app-background-gradient);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 36px 20px;
}

.main-content {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

@include m.small {
  .main-content {
    max-width: 330px;
  }

  html[lang=hu] .main-content {
    max-width: 340px;
  }
}

@include m.very-small {
  html[lang=ja] .main-content {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  main {
    width: 100%;
  }
}

@include m.very-small {
  main {
    width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  user-select: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}