@use "./colors";
@use "./variables";
@use "./mixins" as m;
@import "./fonts.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-inter);
  background: var(--app-background-gradient);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 36px 20px;
}

@media (max-width: 500px) {
  main {
    width: 100%;
  }
}

@include m.very-small {
  main {
    width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  user-select: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}