@use "@/styles/mixins" as m;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  padding-bottom: 25px;
  gap: 20px;
  border-bottom: 1px solid #232831;
}

@include m.small {
  .header {
    margin-top: 20px;
  }
}

.header .title {
  font-size: clamp(1.5rem, 7vw, 2rem);
  font-weight: 800;
  background: linear-gradient(135deg, #66e0ff, #4ecdc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: .8px;
}

html:is([lang=fr], [lang=ru], [lang=hu]) .header .title {
  font-size: clamp(1.4rem, 5vw, 2rem);
}

@include m.very-small {
  html:is([lang=fr], [lang=ru], [lang=hu]) .header .title {
    font-size: clamp(1.2rem, 5vw, 2rem);
  }
}

.header .title>br {
  display: none;
}

@include m.very-small {
  .header .title {
    font-size: clamp(1.2rem, 6.6vw, 2rem);
  }
}

.header .closeBtn {
  background: #232831;
  border: solid 1px #444950;
  outline: solid 1px transparent;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  @include m.flex-center;
  cursor: pointer;
  user-select: none;
  font-size: .9rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  transition:
    background .3s ease,
    border-color .3s ease,
    outline-color .3s ease;

  &:hover {
    background: #4c2c33;
    border-color: #ff6b6b;
  }

  &:focus-visible {
    background: #4c2c33;
    border-color: #ff6b6b;
    outline-color: #fff;
  }
}

.header .closeBtn>svg {
  width: 18px;
  height: 18px;
  stroke: #bdbfc2;
  transition: color .3s ease;
}

.header .closeBtn:where(:hover, :focus-visible)>svg {
  stroke: #ff6b6b;
}