@use "@/styles/mixins" as m;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  padding-bottom: 25px;
  gap: 20px;
  border-bottom: 1px solid #232831;
}

@include m.media("small") {
  .header {
    margin-top: 20px;
  }
}

.header .title {
  font-size: clamp(1.5rem, 7vw, 2rem);
  font-weight: 800;
  background: linear-gradient(135deg, #66e0ff, #4ecdc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: .8px;
}

@include m.langs("fr", "ru", "hu") {
  .header .title {
    font-size: clamp(1.4rem, 5vw, 2rem);
  }
}

@include m.media("very-small") {
  @include m.langs("fr", "ru", "hu") {
    .header .title {
      font-size: clamp(1.2rem, 5vw, 2rem);
    }
  }
}

.header .title>br {
  display: none;
}

@include m.media("very-small") {
  .header .title {
    font-size: clamp(1.2rem, 6.6vw, 2rem);
  }
}
