@use "@/styles/mixins" as m;
@use "@/styles/keyframes" as keyframe;
@include keyframe.slide-in;

.updateNotification {
  position: fixed;
  left: 0;
  bottom: 32px;
  background-color: #0d85fd;
  color: #fff;
  padding: 16px 24px;
  border-radius: 0 12px 12px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  animation: slide-in .3s ease-out;
  z-index: 1001;
}

@include m.very-small {
  .updateNotification {
    bottom: 0;
    border-radius: 0;
    width: 100%;
    padding: 16px 20px;
  }
}

.updateNotification span {
  font-size: .9rem;
}