@use "@/styles/mixins" as m;

.board {
  display: grid;
  padding: 16px;
  background: #232b37;
  border-radius: 16px;
  border: 2px solid #39414b;
  position: relative;
}

@include m.media("small") {
  .board {
    width: 100%;
  }
}

@include m.media("medium") {
  .board {
    padding: 12px;
  }
}

.board>div:not(:last-child) {
  margin-bottom: 6px;
}

@include m.media("medium") {
  .board>div:not(:last-child) {
    margin-bottom: 4px;
  }
}