.volumeBtn {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: #313946;
  border: 1px solid #5a606a;
  color: #e9e9ec;
  min-width: 33.6px;
  min-height: 33.6px;
  max-width: 33.6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
  position: relative;
  transition: background .2s ease, border-color .2s ease;

  &:hover {
    background: #3b4350;
    border-color: #777c84;
  }

  &:focus-visible {
    background: #3b4350;
    border-color: #fff;
  }

  &:active {
    background: #474e59;
    border-color: #777c84;
  }
}

.volumeBtn.muted::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2px;
  height: calc(100% - 8px);
  background: #ff1e31;
  rotate: -45deg;
}

.volumeBtn>svg {
  width: 19px;
  height: 19px;
  fill: #d8d9dc;
}