@use "@/styles/mixins" as m;
@use "@/styles/keyframes" as keyframe;
@include keyframe.spin;

.loadingMenu {
  position: relative;
  width: 265px;
  height: var(--main-menu-content-height);
}

@include m.very-small {
  .loadingMenu {
    position: static;
  }
}

.loadingMenu .content {
  padding-top: 30px;
}

.loadingMenu .content .loader {
  width: 60px;
  height: 60px;
  background-color: #4a9eff;
  border-radius: 50%;
  margin: 0 auto 30px auto;
  @include m.flex-center;
  box-shadow: 0 0 15px #4a9eff;
  position: relative;
}

.loadingMenu .content .loader>svg {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 30px;
  height: 30px;
  color: #e0e0e0;
  animation: spin 1s linear infinite;
}

.loadingMenu .content h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #e0e0e0;
  margin-bottom: 6px;
}

.loadingMenu .content p {
  color: #a0a0a0;
  font-size: .875rem;
}

.loadingMenu .content .note {
  margin-top: 20px;
  color: #fd3b3b;
  font-size: .875rem;
}