@use "@/styles/mixins" as m;

.header {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.header>* {
  flex: 1;
}

@include m.small {
  .header {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.header .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  flex: 0;
}

.header .logo {
  position: fixed;
  left: 20px;
  top: 20px;
  outline: solid 2px transparent;
  border-radius: 1px;
  outline-offset: 12px;
  color: rgba(255, 255, 255, .8);
  transition: outline-color .3s ease;

  &:focus-visible {
    outline-color: #fff;
  }
}

@include m.small {
  .header .logo {
    position: static;
  }
}

html[lang=ar] .header .logo {
  left: auto;
  right: 20px;
}