@use "@/styles/mixins" as m;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 20, 25, .54);
  @include m.flex-center;
  z-index: 1000;
}

@include m.very-small {
  .overlay {
    background: linear-gradient(135deg,
        rgb(15, 20, 25) 0,
        rgb(26, 35, 50) 50%,
        rgb(15, 20, 25) 100%);
  }
}

.rematchMenu {
  background: var(--app-background-gradient);
  border-radius: 16px;
  border: 1px solid #23242b;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 40px;
  min-width: 320px;
  max-width: 90vw;
  align-items: center;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}

@include m.very-small {
  .rematchMenu {
    background: transparent;
    border: none;
    padding: 0;
    // width: 100%;
  }
}

.rematchMenu h2 {
  color: #ededed;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

.rematchMenu .buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.rematchMenu .buttons button {
  background: #23242b;
  border: 1px solid #31323a;
  border-radius: 8px;
  color: #ededed;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 19px;
  box-shadow: none;
  min-width: 80px;
  transition: background .18s, color .18s, border .18s;
  outline: none;
}

.rematchMenu .buttons button:focus {
  border-color: #6366f1;
}

.rematchMenu .buttons button:hover {
  background: #31323a;
  color: #fff;
}

.rematchMenu .buttons .yes {
  background: #6366f1;
  color: #fff;
  border-color: #6366f1;
}

.rematchMenu .buttons .yes:hover {
  background: #4f46e5;
  border-color: #4f46e5;
}

.rematchMenu .buttons .no {
  background: #23242b;
  color: #ededed;
  border-color: #31323a;
}

.rematchMenu .buttons .no:hover {
  background: #e92424;
  color: #fff;
  border-color: #e92424;
}