@use "@/styles/mixins" as m;
@use "@/styles/keyframes" as keyframe;
@include keyframe.pulse(1.5, .8);

.mpContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  position: relative;
  width: 265px;
  height: var(--main-menu-content-height);
}

@include m.very-small {
  .mpContent {
    position: static;
  }
}

.mpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mpForm button[type=submit] {
  border: none;
  position: relative;
  width: 100%;
  height: 50px;
  background: #4a9eff;
  color: #e0e0e0;
  border-radius: 8px;
  outline: none;
  @include m.flex-center;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: .5px;
  box-shadow: 0 2px 6px transparent;
  transition: box-shadow .1s ease;

  &:hover {
    background: #4596f3;
  }

  &:active {
    background: #3c8ae6;
  }
}