@use "@/styles/mixins" as m;

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.buttons .button {
  outline: none;
  background-color: #333333;
  color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  border: 1px solid rgba(120, 120, 120, .2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 15px 20px 15px 35px;
  width: 100%;
  min-height: 60px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 1.125rem;
  font-size: clamp(.8rem, 5.6vw, 1.125rem);
  letter-spacing: .5px;
  text-transform: capitalize;
  transition: background-color .15s ease;

  &:hover {
    background-color: #3f3f3f;
  }

  &:active {
    background-color: #4a4a4a;
  }

  &:focus-visible {
    background-color: #4a4a4a;
  }
}

@include m.very-small {
  .buttons .button {
    padding: 15px 20px;
    gap: 10px;
  }
}

.buttons .button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  transition: background-color 0.15s ease;
}

.buttons .button:nth-child(1)::before {
  background-color: #4a90e2;
}

.buttons .button:nth-child(2)::before {
  background-color: #48c9b0;
}

.button>svg {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #e0e0e0;
}