@use "@/styles/mixins" as m;
@use "sass:list";

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 260px;
}

@include m.very-small {
  .buttons {
    width: 230px;
  }
}

.button {
  outline: none;
  background-color: #0f1419;
  color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  border: 1px solid #24282c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 15px 20px 15px 35px;
  width: 100%;
  min-height: 56px;
  border-radius: 8px;
  position: relative;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: clamp(.8rem, 5.6vw, 1rem);
  letter-spacing: .5px;
  text-transform: capitalize;
  transition: background-color .15s ease;

  &:active {
    scale: .998;
  }

  &:focus-visible {
    border-color: #fff;
  }

  &:hover {
    background-color: #171f28;
    border-color: #3e4348;
  }
}

@include m.very-small {
  .button {
    padding: 15px 20px;
    min-height: 50px;
  }
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  transition: box-shadow .15s ease;
}

$button-colors: #57f857, #ff4757, #4a9eff;

@for $i from 1 through list.length($button-colors) {
  .button:nth-child(#{$i})::before {
    background-color: list.nth($button-colors, $i);
  }

  .button:nth-child(#{$i}):hover::before {
    box-shadow:
      0 0 1px list.nth($button-colors, $i),
      0 0 3px list.nth($button-colors, $i);
  }
}


.button>svg {
  width: 22px;
  height: 22px;
  fill: #e0e0e0;
}