@use "@/styles/mixins" as m;

.button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  position: fixed;
  left: 20px;
  bottom: 40px;
  background: #313946;
  border: 1px solid #5a606a;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background .2s ease, border-color .2s ease;

  &:hover {
    background: #3b4350;
    border-color: #777c84;
  }

  &:focus-visible {
    background: #3b4350;
    border-color: #fff;
  }

  &:active {
    background: #474e59;
    border-color: #777c84;
  }
}

html[lang=ar] .button {
  left: auto;
  right: 20px;
}

.button>span {
  font-size: .75rem;
  color: #e9e9ec;
  height: 16px;
}

@include m.small {
  .button {
    position: static;
  }
}

.button>svg {
  width: 16px;
  height: 16px;
  fill: rgba(255, 255, 255, .8);
}