.boardSelectionWrapper {
  background-color: #333333;
  border-radius: 8px;
  padding: 14px 20px;
  width: 100%;
  border: 1px solid rgba(120, 120, 120, .2);
}

.boardSelectionWrapper>label {
  display: inline-block;
  color: #e0e0e0;
  font-weight: 500;
  font-size: .9375rem;
  margin-bottom: 10px;
}

.boardSelection {
  display: flex;
  gap: 8px;
}