@use "@/styles/mixins" as m;

.powerUps {
  display: flex;
  gap: 15px;
  background: #242c39;
  padding: 15px;
  border-radius: 12px;

  &.hidden {
    display: none;
    pointer-events: none;
  }
}

@include m.media("large") {
  html[lang=hu] .powerUps {
    padding: 8px;
  }
}

@include m.media("medium") {
  .powerUps {
    flex-direction: column;
  }

  html[lang=hu] .powerUps {
    padding: 15px;
  }
}

@include m.media("small") {
  .powerUps {
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    display: none;

    &:where(.player1, .player2):not(.hidden).display {
      display: flex;
    }
  }
}

.powerUps.player1 {
  border: solid 2px #ff6b6b;
  box-shadow:
    0 0 1px 1px rgba(255, 107, 107, .6),
    0 0 1px 1px rgba(255, 107, 107, .6) inset;
}

.powerUps.player2 {
  border: solid 2px #4ecdc4;
  box-shadow:
    0 0 1px 1px rgba(78, 205, 196, .6),
    0 0 1px 1px rgba(78, 205, 196, .6) inset;
}