.option {
  position: relative;
  padding: 8px 0;
  user-select: none;
}

.option>input {
  border: none;
  outline: none;
  position: absolute;
  inset: 0;
  visibility: hidden;
  font-weight: 500;
}

.option>label {
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 20px;
  transition: background .15s ease, box-shadow .15s ease;

  &:hover {
    background: #314468;
  }

  &:active {
    background: #3c5482;
  }
}

.option:has(input:checked)>label {
  background: #4a9eff;
  box-shadow: 0 2px 3px #4a9eff;
}